#inicio {
  text-align: center; /* Centraliza textos e elementos inline */
}

#inicio img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px;
  background-color: #daca66;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2266db;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.secao {
  padding: 40px 60px;
}

.secao h2 {
  color: #333;
  margin-bottom: 20px;
}

.secao img {
  max-width: 100%;
  height: auto;
}

.conteudo-duplo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.conteudo-duplo p {
  flex: 2;
  min-width: 250px;
}

.conteudo-duplo img {
  flex: 1;
  max-width: 300px;
  border-radius: 8px;
}

ul, ol {
  padding-left: 20px;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.coluna {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-galeria {
  text-align: center;
}

.item-galeria img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  transition: border-radius 0.3s ease;
}

.item-galeria img:hover {
  border-radius: 0;
  transform: scale(1.1); /* Zoom */
}
.item-galeria p {
  font-weight: bold;
  margin-bottom: 8px;
}
#rodape{
text-align: center; 
background-color: #2266db;
}